<div class="main">
    <p class="header">
        Оформление заказа
    </p>

    <div class="card">
        <p class="title">
            Для подписания договора, введите СМС код отправленный на Ваш номер телефона
        </p>
        <input type="text" name="code">
        <p class="resend-text">
            ВЫСЛАТЬ SMS ПОВТОРНО
        </p>
        <div class="row">
            <div class="col-10">
                <p>
                    Я, подписывая настоящий Договор, обязуюсь выполнять следующие требования:
                </p>
            </div>
            <div class="col-2">
                <img src="assets/img/exclamationmark.svg" alt="">
            </div>
        </div>
        <ul>
            <li>ИСПОЛЬЗОВАТЬ ПО НАЗНАЧЕНИЮ целевой микрокредит (пункта № Договора),</li>
            <li>не использовать в целях ПЕРЕПРОДАЖИ ТОВАРА,</li>
            <li>предурежден о статье 190 Уголовного Кодекса Респубики Казахстан “МОШЕННИЧЕСТВО”.</li>
        </ul>

        <button class="button" type="button">Подписать</button>
    </div>
</div>