<div class="main">
    <p class="header">
        Поздравляем! <br>
        Ваша заявка одобрена
    </p>

    <div class="card">
        <img src="assets/img/success.svg" alt="">

        <p class="duration">
            Срок кредитования: <strong>3 мес.</strong>
        </p>

        <div class="row gy-3 box-container">
            <div class="col-6">
                <div class="box">
                    <p class="top-text">Сумма кредита (тг.)</p>
                    <p class="bottom-text">89 990.00</p>
                </div>
            </div>
            <div class="col-6">
                <div class="box">
                    <p class="top-text">Ежемесячный платеж (тг.)</p>
                    <p class="bottom-text">29 997.00</p>
                </div>
            </div>
            <div class="col-6">
                <div class="box">
                    <p class="top-text">Сумма переплаты (тг)</p>
                    <p class="bottom-text">0.00</p>
                </div>
            </div>
            <div class="col-6">
                <div class="box">
                    <p class="top-text">Ежемесячный платеж (тг.)</p>
                    <p class="bottom-text">0.00% (0.00%)</p>
                </div>
            </div>
        </div>

        <p class="header">
            Подписание договора
        </p>

        <div class="label-checkbox">
            <label>
                <input type="checkbox" required checked class="check">
                <span>С <a style="color: #E3371D" href="">заявлением</a> ознакомлен(а) и согласен(а)</span>
            </label>
        </div>
        <div class="label-checkbox">
            <label>
                <input type="checkbox" required checked class="check">
                <span>С <a style="color: #E3371D" href="">договором</a> и с <a style="color: #E3371D" href="">графиком</a> погашения ознакомлен(а) и согласен(а)</span>
            </label>
        </div>
        <div class="label-checkbox">
            <label>
                <input type="checkbox" required checked class="check">
                <span>С <a style="color: #E3371D" href="">Постоянным распоряжением отправителя денег</a> ознакомлен(а) и согласен(а)</span>
            </label>
        </div>
        <div class="label-checkbox">
            <label>
                <input type="checkbox" required checked class="check">
                <span>С <a style="color: #E3371D" href="">Платежным поручением</a> ознакомлен(а) и согласен(а)</span>
            </label>
        </div>
        <button class="button" type="button">Подтвердить</button>
    </div>

</div>